
body{
    background-color: #4bd;
}
#fullPage{
    filter: none;
    animation: none;
}
#colors-body{
    background-color: rgb(46, 46, 46);
}



@font-face{
    font-family: "Fredoka";
    src: url("../fonts/static/Nunito/Nunito-Black.ttf");
    font-weight: 900;
    font-size: large;
}
@keyframes right-to-center{
    0%{
        transform: translate(-140%) scale(0.8);
        filter: blur(2px) opacity(.7);
        z-index: 1;
    }
    100%{
        transform: translate(0, 0) scale(1);
        filter: blur(0px) opacity(1);
        z-index: 0;
    }
}
@keyframes left-to-center{
    100%{
        transform: translate(-50%, 0);
        filter: blur(0px) opacity(1);
        z-index: 1;
    }
}
@keyframes slide-right{
    100%{
        transform: translate(-140%) scale(0.8);
        filter: blur(2px) opacity(.7);
        z-index: -1;
    }
}
@keyframes slide-left{
    100%{
        transform: translate(40%) scale(0.8);
        filter: blur(2px) opacity(.7);
        z-index: -1;
    }
}
@keyframes out-right{
    0%{
        transform: translate(40%) scale(0.8);
        filter: blur(2px) opacity(.7);
        z-index: -1;
    }
    100%{
        transform: translate(100%) scale(0.5);
        filter: blur(4px) opacity(0);
        z-index: -1;
    }
}
@keyframes scale-up{
    0%{
        transform: scale(0) ease-in-out;
    }
    100%{
        transform: scale(1) ease-in-out;
    }
}
@keyframes scale-down{
    0%{
        transform: scale(1) ease-in-out;
    }
    100%{
        transform: scale(0);
    }
}
/*@keyframes blurring{
    0%{
        filter: blur(0px);
    }

    100%{
        filter: blur(5px);
    }
}*/
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes color-change{
    from{
        background-color: rgb(66, 177, 208)
    }
    to{
        background-color: cyan;
    }
}
@keyframes rounding{
    from{
        border-radius: 5px;
    }
    to{
        border-radius: 50%;
    }
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px white;
    }
    16%{
        transform: rotate(60deg);
        box-shadow: 1px 5px 2px white;
    }
    32%{
        transform: rotate(120deg);
        box-shadow: 1px 5px 2px white;
    }
    56%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px white;
    }
    72%{
        transform: rotate(240deg);
        box-shadow: 1px 5px 2px white;
    }
    85%{
        transform: rotate(300deg);
        box-shadow: 1px 5px 2px white;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px white;
    }
}
/*Hop-up
@keyframes hop-up{
    0%{
        bottom: 20px;
        
    }
    50%{
        bottom: 25px;
        
    }
    100%{
        bottom: 20px;
        
    }
}*/




#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: 3px rgb(12, 89, 111); 
    outline: none; 
    background-color: rgb(54, 150, 177); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 100px; 
    font-size: 18px; 
    transition: transform .3s;
}
#myBtn:hover{
    transform: rotate(180deg);
    animation: color-change .3s;
    background-color: cyan;
}
#arrow-down{
    height: 32px;
}


.loader-center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader-ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    animation: ring 3s linear infinite;
}
.loader-ring::before{
    position: absolute;
    border-radius: 50%;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}
.loader-text{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 200px;

}





.navbar{
    width: 100%;
    padding: 0;
    position: sticky;
    background-color: #4bd;
    border-radius: 10px;
    vertical-align: middle;
    background: linear-gradient(to right, rgb(0, 137, 190), cyan);
}
#navbar a{
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.navbar-nav{
    position: relative;
    align-content: center;
    width: 100%;
}
.sticky{
    position: fixed;
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



tbody{
    width: 100%;
    height: min-content;
}



.col-1{ 
    position: relative;
    width: 20%;
    border-right: solid 1px rgb(66, 177, 208);
}
.col-1 a.home{
    position: absolute;
    width: min-content;
    top: 50%;
    transform: translate(0, -50%);
}
.col-1 a.colors{
    position: absolute;
    width: min-content;
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
}
.col-1 a.imgs{
    position: absolute;
    width: min-content;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}
.col-1 a.info{
    position: absolute;
    width: min-content;
    top: 50%;
    left: 75%;
    transform: translate(0, -50%);
}
.col-2{
    width: 80%;
    align-items: center;
}
.col-3{
    position: relative;
    width: 20%;
    border-left: solid 1px rgb(66, 177, 208);
}



header{
    padding: 0;
    min-width: 100%;
    border-radius: 3px;
    display: flex;
    text-align: center;
    font-family: Arial;
}

/*___________________________________KERETEK________________________________
table, tr, th{
    border: dashed 1px black;
}
table a{
    border: dashed 1px red;
}
table h3{
    border: dashed 1px white;
}
table .d-flex{
    border: dashed 1px violet;
}
___________________________________KERETEK________________________________*/


#colors-h1{
    position: fixed;
    background: linear-gradient(to right, rgb(0, 137, 190), cyan);
    padding: 20px;
    min-width: 100%;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-family: Arial;
    text-decoration: underline;
}
#colors-navbar{
    background: linear-gradient(to right, rgb(0, 137, 190), cyan);
    position: relative;
    z-index: 2;
}




.time-span{
    justify-content: center;
    z-index: 99;
    width: 100%;
    /*rgb(20, 166, 182)*/
}




#date{
    
    color: rgb(12, 89, 111);
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    
    font-family: 'Fredoka';
    font-size: xx-large;
}
#time{
    color: rgb(12, 89, 111);
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    
    font-family: 'Fredoka';
}
h3{
    text-align: center;
    
}




.d-flex{
    display: flex;
    padding-left: 15px;
}





h1{
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 25px 22px;
    
    
    
}
b.Title{
    font-family: 'Fredoka';
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
}



a{
    align-items: center;
    vertical-align: middle;
} 




.btn{
    background-color: rgb(66, 177, 208); /*rgb(66, 177, 208)*/
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    position: relative;
    cursor: pointer;
    --accent-color: cyan;
    --background-color: cyan;
    --border-size: 3px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}





.close-btn{
    border: none;
    background: transparent;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
}
.addSongGroup{
    padding: 10px;
    display: block;
}
.addSong{
    display: block;
    position: relative;
    background:rgb(12, 89, 111);
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    animation: scale-up .2s;
}


.search-btn:hover, .search-btn:focus{
    background-color: rgb(46, 146, 174);
}




/*Flip-btn Effect*/
.flip-box {
    background-color: transparent;
    width: 42px;
    height: 42px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    perspective: 90px;
    
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
} 
.flip-box-front {
    position: absolute;
    background-color: rgb(66, 177, 208);
}
.flip-box-back {
    position: absolute;
    background-color: cyan;
    transform: rotateY(180deg);
}
h2{
    top: 50%;
    height: 42px;
    width: 42px;
    margin: 0;
    vertical-align: middle;
    
}





/*Home-btn Effect*/
.home-btn.btn-background-slide::before{
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--accent-color);
    
    transition: transform .2s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}
.home-btn.btn-background-slide:hover::before, .home-btn.btn-background-slide:focus::before{
    transform: scaleY(1);
}
.home-btn.btn-background-slide{
     z-index: 1;
}




/*Random-btn Effect
.random-btn.btn-background-slide::before{
    content: '';
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgb(66, 177, 208);
    
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
}
.random-btn.btn-background-slide:hover::before, .random-btn.btn-background-slide:focus::before{
    transform: rotateY(180deg);
    animation: FadeIn .5s;
    background-color: cyan;
}
.random-btn.btn-background-slide{
    z-index: 1;
}

/* Color-btn Effect*/

.color-btn.btn-spin{
    position: relative;
    border-radius: 5px;
    align-items: center;
    transition: all .3s ease-in-out;
}
.color-btn.btn-spin:hover, .color-btn.btn-spin:focus{
    transform: rotate(360deg);
    animation: color-change .3s;
    background-color: cyan;
}




/*Img-btn Effect*/
.img-btn.btn-pop-border::before{
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, .1s ease-in-out;

}
.img-btn.btn-pop-border:hover::before, .img-btn.btn-pop-border:focus::before{
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}
.img-btn.btn.pop-border-btn::before{
    z-index: 1;
}


.form-control{
    width: fit-content;
}
.form-group{
    margin-top: 5px;
    padding: 5px;
}


#content{
    position: relative;
    margin: 50px;
    height: 200vh;
}
